<div class="container">
      <% for(var i=1; i<questions.length; i++) { %>

      <div id="card<%=i%>" class="card">

        <h2 class="card-title"> <%=questions[i].text%> </h2>
        <input class="positive_tags" type="hidden" value="<%=questions[i].positive_tags%>" />
        <input class="negative_tags" type="hidden" value="<%=questions[i].negative_tags%>" />

        <div class="card-buttons">
          <input class="btn positive" type="button" value="Jäpp!">
          <input class="btn" type="button" value="Näpp!">
        </div>


      </div>

      <% } %>

      <form action="/sessions/calculate" method="POST">
          <input type="hidden" name="positive_tags" />
          <input type="hidden" name="negative_tags" />
          <input type="submit" class="btn" value="Jag är nöjd, ge mig ett förslag!" />
        </form>
    </div>




  <script>
  var positive_tags = [];
  var negative_tags = [];

  $('form').hide();

  var cards = $('.card').length;
  var active = 1;

  function changeCard() {
    $('.card').hide();
    $('#card'+active).show();
  }
  changeCard();

  $('.btn').click(function(e){
    var button = $(e.target);

    active++;
    if (active <= cards) {
      changeCard();
    }
    else {
      $('.card').hide();
      $('form').show();
    }

    var items = button.parent();

    var positive = button.parent().children('.positive_tags').val();
    var negative = button.parent().children('.negative_tags').val();

    positive_tags.push(positive.replace(/(^\s+|\s+$)/g, ''));

    if(negative != 'null' && negative != '' && negative != null){
     negative_tags.push(negative.replace(/(^\s+|\s+$)/g, ''));
    }


    $('input[name="positive_tags"]').val(positive_tags);
    $('input[name="negative_tags"]').val(negative_tags);
  });


  </script>
